.button {
    width: 150px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #ffffff;
    align-items: center;
    border: 2px solid #000000;
    border-radius: 15px;
} 

.button--popup {
    width: 100px;
}